{% extends  'base.html' %}

{% block title %} <title>Добавить урок</title> {% endblock %}


{% block content %}

<div class="row justify-content-center mt-4">
    <div class="col-lg-10">
        <h4>Добавить урок</h4>
        <div class="card p-3">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="model" class="form-label">Выберите модуль</label>
                  <select class="form-select" aria-label="Default select example" id="model" name="model">
                    <option selected>Выберите модуль</option>
                    {% for item in modul %}
                        <option value="{{item.id}}">{{item.name}}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="mb-3">
                  <label for="name" class="form-label">Название урока</label>
                  <input type="name" class="form-control" id="name" name="name">
                </div>
                <div class="mb-3">
                    <label for="files" class="form-label">Файл</label>
                    <input type="file" class="form-control" id="files" name="files"  accept=".doc,.pptx, .txt, .xls, .docs">
                </div>

                <div class="mb-3">
                    <label for="videos" class="form-label">Видео</label>
                    <input type="file" class="form-control" id="videos" name="videos" accept=".avi, .mpeg, .mp4">
                </div>

                <button type="submit" class="btn btn-primary">Добавлять</button>
              </form>
        </div>
    </div>
</div>


{% endblock %}